.card {
  width:200px;
  color:ghostwhite;
  text-shadow: 1px 0px rgba(0,0,0,0.5);
  background-color: rgba(0, 123, 255, 0.5);
  font-family:'Notable', sans-serif;

}

.card-text {
  font-family: 'Special Elite';
}

.line {
  background-color: white;
}

.btn-primary {
  padding-top: 10px;
  background-color:rgba(50, 50, 60, 1) !important;
  letter-spacing: 0.1em;
}
