<div class="container d-flex flex-row flex-wrap">
    <div *ngFor="let product of products">
        <div class="card mr-2 mb-2 p-2">
            <img class="card-img-top" src="{{product.image}}" alt="Card image">
            <hr class="line">
            <div class="row">
                <div class="col-12">
                    <h4 class="card-title text-center">{{product.name}}</h4>
                </div>
            </div>
                <p class="card-text text-center">{{product.description}}</p>
                <a href="" class="btn btn-primary">
                    <div class="card-title text-nowrap d-flex justify-content-around align-self-center">

                            <fa-icon [icon]="faCartPlus"></fa-icon>

                            <span> {{ product.price | currency : 'EUR' }}</span>
                    </div>
                </a>
        </div>
    </div>
</div>

